.wordsTableTitle {
  text-align: center;
  width: 100%;
}

.wordsTableList {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  column-gap: 30px;
  list-style-type: none;
}

.wordsTable {
  box-shadow: 2px 2px 4px rgba(10, 46, 82, 0.12), -6px -6px 40px rgba(255, 255, 255, 0.63),
    4px 4px 15px rgba(10, 46, 82, 0.11), inset 4px 4px 30px rgba(10, 46, 82, 0.11),
    inset -4px -4px 40px #ffffff;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
}
