.wordsTableList {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  column-gap: 30px;
  list-style-type: none;
}

.wordsTableItem {
  z-index: 1;
  padding: 12px 12%;
}

.settingsBtn:hover {
  opacity: 0.6;
  background-color: #e7e7e7;
}
.settingsBtn {
  cursor: pointer;
  transition: 0.6s;
  border-radius: 6px;
  padding: 6px;
}
.settingsBtn:focus {
  outline: none;
}

.settingsBtn,
.settingsBtnImg {
  border: none;
  background-color: transparent;
}
.settingsBtnImg {
  width: 60%;
}
.settings {
  z-index: 0;
  position: absolute;
  background-color: #f8f8fb;
  justify-content: end;
  display: grid;
  opacity: 0;
  width: calc(100% + 60px);
  left: -30px;
  grid-auto-flow: column;
  column-gap: 12px;
  box-sizing: border-box;
  top: 0;
  padding: 6px 12px;
  transition: 0.6s;
}

.wordsTableList:hover .settings {
  opacity: 1;
}
