:root {
  box-sizing: border-box;
  font-size: 16px;
}
html {
  font-family: 'Montserrat-Bold';
  scroll-behavior: smooth;
  color: $text-color;
}
.container {
  margin: 0 auto;
}
img {
  display: block;
}

@media (max-width: 1320px) {
  :root {
    font-size: calc(0.04rem + 1vw);
  }
}
@media (max-width: 958px) {
  :root {
    font-size: 16px;
  }
}
